.navbar {
    width: 800px;
    height: 100px;
    background-color: black;
    margin: 80px auto;
    border-radius: 20px;
    color: red;
    display: flex;
    justify-content: space-between;
    font-weight: 700;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 20px;
        gap: 5px;
    }

    &__left__title {
        text-transform: uppercase;
    }

    &__right {
        display: flex;
        gap: 2px;
    }

    &__right__activity {
        color: green;
        padding: 0px 20px;
    }
}